.strength__section {
  background: rgb(190, 190, 190);
  background: linear-gradient(
    0deg,
    rgba(190, 190, 190, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 30px 50px;
}

.strength__subtitle {
  padding: 0px 40px;
}
